* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color-primary: #6b6259;
  --background-color-secondary: #4b463e;
  --text-color-primary: #dbd9ce;

  --bar-aniamtion-duration: 3s;
}

::selection {
  color: var(--text-color-primary);
  background-color: #312f2b;
}

@font-face {
  font-family: "WO3";
  src: url("assets/fonts/WO3.ttf");
}

@font-face {
  font-family: "WO3Angular";
  src: url("assets/fonts/WO3Angular.ttf");
}

@font-face {
  font-family: "FX300Angular";
  src: url("assets/fonts/FX300Angular.ttf");
}

body {
  background-image: url("./assets/images/pattern.png");
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #dbd9ce #6b6259;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #6b6259;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbd9ce;
  border-radius: 0px;
  border: 0px none #ffffff;
}

/** 
* HERO SECTION
**/

.hero-section {
  display: block;
  margin: 3rem;
}

.hero-section-title {
  position: relative;
  z-index: 999;
  font-family: "WO3Angular";
  color: var(--text-color-primary);
  font-size: 4rem;
  user-select: none;
  letter-spacing: 0.1rem;
}

@keyframes cursor-animation {
  0% {
    display: none;
  }
}

#hero-section-title-cursor {
  animation: cursor-animation 1s steps(2) infinite;
}

.hero-section-subtitle {
  position: relative;
  z-index: 999;
  font-family: "WO3Angular";
  color: var(--text-color-primary);
  letter-spacing: 0.1rem;
}

.hero-section-subtitle-container {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.hero-section-subtitle-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.hero-section-subtitle-icons-container > img {
  margin: 0 0.8rem 0.2rem 0;
}

.hero-section-hbars-container {
  position: relative;
  margin-top: 3rem;
  right: 3rem;
  width: 100%;
}

.hero-section-hbars-container > div {
  /* clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%); */
  position: relative;
  width: 30%;
  z-index: 888;
  margin-bottom: 0.2rem;
  height: 1rem;
  background-color: var(--background-color-secondary);
}

@keyframes bar {
  0% {
    width: 30%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  }
}

.hero-section-hbars-container > div:nth-child(1) {
  animation: bar var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.2s;
  height: 0.8rem;
}

.hero-section-hbars-container > div:nth-child(2) {
  animation: bar var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.4s;
  height: 0.7rem;
}

.hero-section-hbars-container > div:nth-child(3) {
  animation: bar var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.6s;
  height: 0.5rem;
}

.hero-section-hbars-container > div:nth-child(4) {
  animation: bar var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.8s;
  height: 0.3rem;
}

.hero-section-hbars-container > div:nth-child(5) {
  animation: bar var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 1s;
  height: 0.2rem;
}

.hero-section-hbars-container-inverse {
  position: absolute;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
  left: 3rem;
  top: 0;
}

.hero-section-hbars-container-inverse > div {
  float: right;
  position: relative;
  width: 50%;
  /* clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%); */
  z-index: 887;
  margin-bottom: 0.2rem;
  height: 1rem;
  background-color: var(--background-color-secondary);
}

.hero-section-hbars-container-inverse > div:nth-child(1) {
  animation: bar-rev var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.2s;
  height: 0.8rem;
}

.hero-section-hbars-container-inverse > div:nth-child(2) {
  animation: bar-rev var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.4s;
  height: 0.7rem;
}

.hero-section-hbars-container-inverse > div:nth-child(3) {
  animation: bar-rev var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.6s;
  height: 0.5rem;
}

.hero-section-hbars-container-inverse > div:nth-child(4) {
  animation: bar-rev var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 0.8s;
  height: 0.3rem;
}

.hero-section-hbars-container-inverse > div:nth-child(5) {
  animation: bar-rev var(--bar-aniamtion-duration) infinite ease-in-out;
  animation-delay: 1s;
  height: 0.2rem;
}

@keyframes bar-rev {
  0% {
    width: 50%;
  }
  50% {
    width: 30%;
  }
  100% {
    width: 50%;
  }
}

/** 
* SHIP SELECTION
**/

.ship-selection-section {
  padding: 0 1.5rem;
  display: grid;

  @media (min-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/** 
* SHIP CARD
**/

.ship-card-container {
  margin: 0 1.5rem;
  border-bottom: 1px solid var(--text-color-primary);
  margin-bottom: 3rem;
}

.ship-card-container > h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
  font-family: "WO3Angular";
  color: var(--text-color-primary);
  letter-spacing: 0.1rem;
  font-size: 2rem;
}

.ship-card-content-container {
  background-color: var(--background-color-secondary);
  display: flex;
}

.ship-card-image {
  width: 300px;
  height: 300px;
  margin: 5px;

  user-select: none;

  background: var(--background-color-secondary);
  background-image: radial-gradient(
    var(--background-color-primary) 1px,
    transparent 0
  );
  background-size: 20px 20px;
  animation: background-anim 4s infinite linear;
}

@keyframes background-anim {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 20px 20px;
  }
}

.ship-card-right-part {
  font-family: "FX300Angular";
  color: var(--text-color-primary);
  border-left: 1px solid var(--text-color-primary);
  display: flex;
  flex-direction: column;
}

.ship-card-text {
  margin: 0.7rem;
  padding: 0.7rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.ship-card-team-colors {
  margin: 0.7rem;
  padding: 0.7rem;
}

.ship-card-team-color {
  width: 5rem;
  height: 1.3rem;
  clip-path: polygon(
    0 0,
    83% 0,
    83% 15%,
    89% 15%,
    89% 22%,
    100% 22%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );
  transition-duration: 0.2s;
  transition-property: width;
}

.ship-card-team-color:hover {
  width: 5.5rem;
}
